@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* incluí o import em ambos ejs e css pq por algum motivo não está funcionando. resolver dps*/

@theme {
    :root {
        --font-display: "Chivo", serif;
        --default-font-family: "Inter", sans-serif;
        font-family: "Inter";
        font-size: 18px;

        /* Color styles */
        --color-black: rgba(0, 0, 0, 1);
        --color-white: rgba(255, 255, 255, 1);
        --color-primary-darker: rgba(87, 43, 175, 1);
        --color-primary-main: rgba(97, 43, 205, 1);
        --color-primary-lighter: rgba(187, 153, 255, 1);
        --color-primary-subtle: rgba(236, 227, 255, 1);
        --color-dark-1: rgba(58, 58, 60, 1);
        --color-dark-2: rgba(107, 117, 136, 1);
        --color-dark-3: rgba(143, 144, 166, 1);
        --color-dark-4: rgba(199, 201, 217, 1);
        --color-light-1: rgba(221, 229, 233, 1);
        --color-light-2: rgba(235, 235, 240, 1);
        --color-light-3: rgba(242, 242, 245, 1);
        --color-light-4: rgba(250, 250, 252, 1);
        --color-blue-1: rgba(0, 79, 196, 1);
        --color-blue-2: rgba(0, 99, 247, 1);
        --color-blue-3: rgba(91, 141, 239, 1);
        --color-blue-4: rgba(157, 191, 249, 1);
        --color-teal-1: rgba(0, 183, 196, 1);
        --color-teal-2: rgba(0, 207, 222, 1);
        --color-teal-3: rgba(115, 223, 231, 1);
        --color-teal-4: rgba(169, 239, 242, 1);
        --color-green-1: rgba(5, 166, 96, 1);
        --color-green-2: rgba(6, 194, 112, 1);
        --color-green-3: rgba(57, 217, 138, 1);
        --color-green-4: rgba(87, 235, 161, 1);
        --color-yellow-1: rgba(229, 184, 0, 1);
        --color-yellow-2: rgba(255, 204, 0, 1);
        --color-yellow-3: rgba(253, 221, 72, 1);
        --color-yellow-4: rgba(253, 237, 114, 1);
        --color-orange-1: rgba(229, 122, 0, 1);
        --color-orange-2: rgba(255, 136, 0, 1);
        --color-orange-3: rgba(253, 172, 66, 1);
        --color-orange-4: rgba(252, 204, 117, 1);
        --color-red-1: rgba(229, 53, 53, 1);
        --color-red-2: rgba(255, 59, 59, 1);
        --color-red-3: rgba(255, 92, 92, 1);
        --color-red-4: rgba(255, 128, 128, 1);
    }
}